<div class="card">
    <a href="/dashboard">return to the dashboard</a>
    <h3 class="card-header">Add New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-subject" class="form-entry">Title</label>
        <input type="text" id="post-subject" name="post-subject" class="form" />


        <label class="form-subject" for="content">Content</label>
        <input id="content" name="content" class="form" />

        <button type="submit" class="btn">Post</button>
    </form>
</div>

<script src="/js/addPost.js"></script>