<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="container">
    <h1>Tech Blog</h1>
    <a class="navbar-brand" href="/dashboard"></a>
    <ul class="navbar-nav mr-auto">
      {{#if logged_in}}
      <div class="topnav">
        <li class="nav-item active">
          <a class="home" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="dash" href="/dashboard">Dashboard</a>
        </li>
      </div>
      <nav>
        <!-- Conditionally render login or logout links -->
        <button>
          <a class="logout" href="/">logout</a> |
        </button>
        {{!-- <button class="no-button" id="logout"></button> --}}
        {{else}}
        <button class="login">
          <a href="/login">login</a>
        </button>
        {{/if}}
      </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer>
        <div class="row-is-full content has-text-centered">
          <p>
          <ul>
            <li><a href="/">Homepage</a>{{#if loggedIn}} |</li>
            <li><a href="/dashboard/">Dashboard</a> |</li>
            <li><a href="/dashboard/Post/">Add a new post!</a></li>
            {{else}}
            | <a href="/login/">Login</a>
            {{/if}}
          </ul>
          </p>
        </div>
      </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>